{% extends 'base.html' %}

{% block style %}

.errorlist{
    color:red
}

{% endblock %}

{% block content %}
    <h1>LOGIN form</h1>

    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}

        <p>
            {% if field.errors %}
            <ul class="errorlist">
                {% for error in fields.error %}
                    <li>{{ error }}</li>
                    {% endfor %}
            </ul>
            {% endif %}
            {{ field.label_tag }} {{ field }}
        </p>
        {% endfor %}
        <input type="submit" value="Login"/>
    </form>
{% endblock %}